/*-------------------------
    Testimonial Area
--------------------------*/

.testimonial-area {
    position: relative;
    z-index: 0;
    &.bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .5);
            z-index: -1;
        }
    }
}

.testimonial-area-02 {
    position: relative;
    z-index: 0;
    &.bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}