
:root {
    --main-color-one: #F2E500;
    --main-color-two: #92DCE5;
    --secondary-color: #92DCE5;
    --paragraph-color: #616161;
}

.margin-top-minus-25 {
    margin-top: -60px;
}

#right-donation .donation-content {
    right:-60px
}

#right .help-and-support-right .support-img::before {
    left: 81%; 
}

#right .help-and-support-right .support-img::after {
    right: 78%;
    transform: rotate(-35deg);
}

.volunteer-single-item{
    padding: 30px 20px 30px;
}

.volunteer-single-item::after {
    top: -10px;
    width:250px;
    height: 350px;
}
@media only screen and (max-width: 576px) {
    .volunteer-single-item::after{
        content:none;
    } 
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
/*----------------------------
    Founder Pic size override
-----------------------------*/
.help-and-support-right .founder .support-img-02 .bg-image {
    min-height: 350px;
    height: 30%;
}

/*----------------------------
    Volunter Styles 
-----------------------------*/

.volunteer-single-item {
    background-color: #F2E500;
} 

.volunteer-single-item.style-01 {
    background-color: #1AADAE;
}

.volunteer-single-item.style-02 {
    background-color: #F2E500;
}
.volunteer-single-item.style-03 {
    background-color: #1AADAE;
}


/*----------------------------
    Footer Widgets 
-----------------------------*/
.widget.footer-widget p {
    color: rgba(22, 21, 21, 0.733);
}

.widget.footer-widget ul li a, .widget.footer-widget ul li, .widget.footer-widget .widget-title {
    color: rgba(22, 21, 21, 0.733);
}

.about-content-area .bg-img.about-right {
    right:0 !important;
    left:unset;
}

/* .breadcrumb-area:before {
    background: rgb(146,220,229);
    background: linear-gradient(180deg, rgba(146,220,229,0.8) 45%, rgba(240,229,5,0.8) 90%);
} */

.contact.breadcrumb-area:before {
    background: #92DCE5;
}
.contact.page-title, .contact.page-list li a, .contact.page-list li:after {
    color: #1d1e21!important;
}

.breadcrumb-area .breadcrumb-inner {
    padding: 150px 0 100px 0
}

.custom-select{
    background: #f1f1f1;
    height:55px;
}

.select-caret{
    position: relative;
}

.custom-select select:invalid {
    color: #A9A9AC;
  }

.Caret {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 40%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

.contact-page-form.style-01 .form-group .form-control, .contact-page-form .form-group textarea, .custom-select{
    border: 1px solid #92DCE5;
}



.btn-wrapper .boxed-btn.reverse-color {
    color:#616161;
}


/*----------------------------
    Partnership Widgets 
-----------------------------*/

.partner-logo{
    height: 70px;
    width: 130px;
}

.partner-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}




/* our vision */

.bg-img.our-vision{
    background-position-x: -60px;
}



/* Counter */

.single-counterup-01{
    margin-bottom: 0 ;
}

.single-counterup-01 .icon {
    margin-right: 0;
}

/* partnership */
#partnership .row {
    margin-top: 30px;
    margin-bottom: 30px;
}
#partnership img{
    display: block;
    margin: auto;
    filter: grayscale(100%);
}

footer .row{
    padding: 0px;
}

.cta{
    border: 3px solid #1d1e21;
    padding: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;

}

.cta:hover{
    border:3px solid #92DCE5;
    background-color: #F2E500;
    font-weight: bold;
}

.communities-logos .row {
    margin-left: auto;
    margin-right: auto;
}

/* community page partnership logos */

.community-icon{
    padding: 10px;
    text-align: center;
    margin: 20px;
    cursor: pointer; 
    width: 200px
}

.community-icon:hover{
    background-color: #92DCE5;
}